* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    max-width: 430px;
    height: 100vh;
    position: relative;
}

header {
    padding-top: 32px;
}

header img {
    position: absolute;
    right: 32px;
}

.scanner-div h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    border: 1px solid #000;
}

.manual-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.manual-div input {
    text-align: center;
    width: 270px;
    height: 40px;
    font-size: 14px;
    color: #000;
}

footer {
    position: fixed;
    bottom: 0;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 120px;
    background-color: #209547;
}

.cam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -50px;
}

.products {
    position: absolute;
    left: 32px;
}

.allergy {
    position: absolute;
    right: 32px;
}
