body {
    flex-direction: column;
    display: flex;
}

#allergenContainer div {
    background-color: antiquewhite;
    padding: 8px;
    border: 1px solid black;
    margin-bottom: 12px;
    max-width: 430px;
    display: flex;
    align-items: center;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 1.2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input[type="checkbox"] {
    height: 24px;
    width: 24px;
    margin: 0 8px 0 0;
}

main {
    width: 430px;
    margin-bottom: 174px;
}

h1,
h2 {
    text-align: center;
}
